{% extends "base.html" %}

{% block content %}

<h1 class="dark-blue ml6">Search Snippets</h1>

<form class="ml6 mr6" action="{% url 'search_snippets' %}" method="GET">
    <input type="search" name="q" placeholder="Search all snippets" class="pa2 w-100" value="{{ request.GET.q }}">
    <p>
        <button type="submit">Search</button>
    </p>
</form>

{% if found_snippets is not None %}
    <div class="flex justify-around ">
        <div class="w-50-m ml6 mr3 bg-light-gray pa1 outline shadow-2">
            <h3 class="tc dark-blue">Your Snippets</h3>
                <ul>
                    {% for snippet in found_snippets %}
                        {% if first_person_id == snippet.user.id %}
                        <li class="mr4"><a href = "{% url 'show_snippet' snippet_pk=snippet.pk %}">{{ snippet.title }}</a></li>
                        {% endif %}
                    {% empty %}
                        <li class="mr4">There are no snippets in your bank that match that query</li>
                    {% endfor %}
                </ul>
        </div>
        <div class="w-50-m mr6 ml3 bg-light-gray pa1 outline shadow-2">
            <h3 class="tc dark-blue">Public Snippets</h3>
                <ul>
                    {% for snippet in found_snippets %}
                        {% if first_person_id != snippet.user.id and snippet.visibility == "PUB" %}
                        <li class="mr4"><a href = "{% url 'show_public_snippet' snippet_pk=snippet.pk %}">{{ snippet.title }}</a></li>
                        {% endif %}
                    {% empty %}
                    <li class="mr4">There are no public snippets that match that query</li>
                    {% endfor %}
                </ul>
        </div>        
    </div>
{% endif %}

{% endblock %}