{% extends "base.html" %}

{% block title %}
Code Cache - {{ snippet.title }}
{% endblock %}

{% block content %}

<h2 class="ml6 dark-blue">{{ snippet.title }}</h2>

<ul class="list p10 ml6">
    {% for tag in snippet.tags.all %}
    <li class="f6 grow no-underline br-pill ba ph3 pv2 mb2 dib dark-blue bg-light-gray shadow-2"><a class="no-underline" href="{% url 'view_tag' tag_name=tag.tag %}"> {{ tag }}</a></li>
    {% endfor %}
</ul>


<p class='i ml6'>{{ snippet.description }}</p>

<div class="ml6 mr6 bg-black outline shadow-2 nowrap overflow-x-auto">
    <pre class="f6 dib green">{{ snippet.text }}</pre>
</div>
<div>
    <p class="ml6 dark-blue">
        <a class="f5 link dim ba bw2 ph3 pv2 mb2 dib bg-light-gray dark-blue shadow-2" href="{% url 'copy_snippet' snippet_pk=snippet.pk %}">Add Snippet to My Snippets</a>


</div>

{% endblock %}