{% extends "base.html" %}

{% block content%}

<h1>Tag: {{ tag }}</h1>


<h2>Your Snippets</h2>

<ul>
    {% for snippet in tag.snippets.all %}
        {% if first_person_id == snippet.user.id %}
        <li><a href = "{% url 'show_snippet' snippet_pk=snippet.pk %}">{{ snippet.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<h2>Public Snippets</h2>

<ul>
    {% for snippet in tag.snippets.all %}
        {% if first_person_id != snippet.user.id and snippet.visibility == "PUB" %}
        <li><a href = "{% url 'show_snippet' snippet_pk=snippet.pk %}">{{ snippet.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}